/* Global Styles */

body, html {
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    max-width: 980px;
    height: 100%;
    border-style: none;    
}

/* Search Styles */

.search {
    margin: auto;
    max-width: 480px;
    padding: 30px;
}

.search input {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    padding-left: 15px;
    outline-width: 0;
    font-size: 16pt;
    text-align: center;
}

/* Gallery Styles */

.gallery { 
    display: flex;
    flex-wrap: wrap;
}

.row {
    margin: auto;
    margin-bottom: 55px;
    width: 200px;
    height: 200px;
}

/* Lightbox Styles */

.lb-data,
.lb-details {
    margin: auto;
    display: flex;
    justify-content: center;
    color: #fff;
}

.lb-details {
    margin: 0;
    max-width: 600px;    
    padding-top: 70px;
    font-family: sans-serif;
}

div.lb-data .lb-caption {
    line-height: 2em;
    font-size: 1.25em;
    background-color: rgb(50, 50, 50);
    padding: 1em;
    border-radius: 10px;
}

.lb-closeContainer{ 
    position: relative; 
    right: -80px; 
    top: -505px; 
    z-index: 5000;
}

div#lightboxOverlay.lightboxOverlay {
    background-color: rgba(60, 60, 60, .9999);   
}

div.lb-nav a.lb-prev, div.lb-nav a.lb-next {
    opacity: 1;
}
